$light: #c9d1d9;
$dark: #0d1117;
$body-color: #8b949e;
$danger: #fc9867;
$warning: #ffd866;
$primary: #78dce8;
$success: #a9dc76;
$secondary: #ab9df2;
$font-family-sans-serif: "Fira Code", monospace;
@import "bootstrap/bootstrap";
